[submodule "poky"]
	path = poky
	url = git://git.yoctoproject.org/poky
	branch = scarthgap
[submodule "layer/meta-openembedded"]
	path = layer/meta-openembedded
	url = git://git.openembedded.org/meta-openembedded
	branch = scarthgap
[submodule "layer/meta-raspberrypi"]
	path = layer/meta-raspberrypi
	url = git://git.yoctoproject.org/meta-raspberrypi
	branch = scarthgap
[submodule "layer/meta-qt5"]
	path = layer/meta-qt5
	url = https://github.com/meta-qt5/meta-qt5.git
	branch = scarthgap
[submodule "layer/meta-qt5-config"]
	path = layer/meta-qt5-config
	url = https://github.com/MainForm/meta-qt5-config.git
[submodule "layer/meta-kernel_module"]
	path = layer/meta-kernel_module
	url = https://github.com/MainForm/meta-kernel_module
